* {
    margin: 0;
    padding: 0;
}

body {
    background-color: orchid;
    display: flex;
    justify-content: space-around;
}

#board-wrapper {
    overflow: hidden;
    margin-top: 5vh;
}

div[id^="row-"] {
    clear: both;
}

div[id^="row-"] div {
    border: solid black 5px;
    height: 200px;
    width: 200px;
    float: left;
}

div#row-1 div {
    border-top: none;
} 

div#row-3 div {
    border-bottom: none;
} 

div[id^="row-"] div:first-child {
    border-left: none;
}

div[id^="row-"] div:last-child {
    border-right: none;
}